@{
}

<div class="box-bg has-tablet">
    <a href="@Url.Action("Index","Home")">
        <img src="~/Contact/intdex-files/harvardfilmarchive.jpg"
             data-src="https://assets.awwwards.com/awards/media/cache/optimize/sites_of_the_day/2019/09/harvardfilmarchive.jpg"
             alt="Harvard Film Archive" width="1900" height="700" class="lazy lazy-loaded">
    </a>
</div>
<div class="box-photo has-mobile">
    <a href="@Url.Action("Index","Home")">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAaEAAAEqAQMAAACGEX2aAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAACZJREFUaN7twTEBAAAAwiD7pzbFPmAAAAAAAAAAAAAAAAAAAAAQOz7cAAG8Je16AAAAAElFTkSuQmCC"
             data-srcset="https://assets.awwwards.com/awards/media/cache/thumb_417_299/submissions/2019/09/5d7775be8cb31794559963.jpg 1x, https://assets.awwwards.com/awards/media/cache/optimize/submissions/2019/09/5d7775be8cb31794559963.jpg 2x"
             alt="Harvard Film Archive" class="lazy">
        <div class="ribbon">
            <img width="90" height="151"
                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFoAAACXAQMAAACvEN4rAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAABZJREFUOMtjGAWjYBSMglEwCkbBYAYAB6sAAfz0o9UAAAAASUVORK5CYII="
                 srcset="https://assets.awwwards.com/assets/images/ribbons/sotd_white_left.png 1x, https://assets.awwwards.com/assets/images/ribbons/sotd_white_left@2x.png 2x"
                 alt="Site of the Day">
        </div>
    </a>
</div>
<div class="box-content">
    <a href="@Url.Action("Index","Home")" class="site-link"
       aria-label="Harvard Film Archive"></a>
    <div class="inner vertical-center">
        <div class="box-info">
            <div class="row">
                <h2 class="heading-large">
                    <a href="@Url.Action("Index","Home")">
                        Harvard Film
                        Archive
                    </a>
                </h2>
            </div>
            <div class="row">
                <div class="by">
                    by <strong>

                        <a href="~/Home" >Huncwot</a>
                    </strong> from <strong>Poland</strong> with <strong>7.43</strong>
                </div>
            </div>
            <div class="box-notesite js-notes">
                <ul>
                    <li class="circle-note-progress style-design" data-note="7.48">
                        <div class="circle">
                            <svg width="84" height="84">
                                <circle r="38" cy="41" cx="41"></circle>
                                <circle r="38" cy="41" cx="41" stroke-linejoin="round"
                                        stroke-linecap="round" class="circle-progress"
                                        style="animation: 900ms ease 0s 1 normal forwards running donut-show-0;">
                                </circle>
                            </svg>
                            <div class="percent">
                                <span class="int">7</span><span class="dec">.48</span>
                            </div>
                        </div>
                        <div class="legend">DESIGN</div>
                    </li>
                    <li class="circle-note-progress style-usability" data-note="7.34">
                        <div class="circle">
                            <svg width="84" height="84">
                                <circle r="38" cy="41" cx="41"></circle>
                                <circle r="38" cy="41" cx="41" stroke-linejoin="round"
                                        stroke-linecap="round" class="circle-progress"
                                        style="animation: 900ms ease 0s 1 normal forwards running donut-show-1;">
                                </circle>
                            </svg>
                            <div class="percent">
                                <span class="int">7</span><span class="dec">.34</span>
                            </div>
                        </div>
                        <div class="legend">USABILITY</div>
                    </li>
                    <li class="circle-note-progress style-creativity" data-note="7.41">
                        <div class="circle">
                            <svg width="84" height="84">
                                <circle r="38" cy="41" cx="41"></circle>
                                <circle r="38" cy="41" cx="41" stroke-linejoin="round"
                                        stroke-linecap="round" class="circle-progress"
                                        style="animation: 900ms ease 0s 1 normal forwards running donut-show-2;">
                                </circle>
                            </svg>
                            <div class="percent">
                                <span class="int">7</span><span class="dec">.41</span>
                            </div>
                        </div>
                        <div class="legend">CREATIVITY</div>
                    </li>
                    <li class="circle-note-progress style-content" data-note="7.48">
                        <div class="circle">
                            <svg width="84" height="84">
                                <circle r="38" cy="41" cx="41"></circle>
                                <circle r="38" cy="41" cx="41" stroke-linejoin="round"
                                        stroke-linecap="round" class="circle-progress"
                                        style="animation: 900ms ease 0s 1 normal forwards running donut-show-3;">
                                </circle>
                            </svg>
                            <div class="percent">
                                <span class="int">7</span><span class="dec">.48</span>
                            </div>
                        </div>
                        <div class="legend">CONTENT</div>
                    </li>
                    <li class="circle-note-progress style-mobile" data-note="7.30">
                        <div class="tooltip">
                            <div class="box-circle">
                                <a href="~/Home" 
                                   class="item-link"></a>
                                <div class="circle">
                                    <svg width="84" height="84">
                                        <circle r="38" cy="41" cx="41"></circle>
                                        <circle r="38" cy="41" cx="41" stroke-linejoin="round"
                                                stroke-linecap="round" class="circle-progress"
                                                style="animation: 900ms ease 0s 1 normal forwards running donut-show-4;">
                                        </circle>
                                    </svg>
                                    <div class="percent">
                                        <span class="int">7</span><span class="dec">.30</span>
                                    </div>
                                </div>
                                <div class="legend">MOBILE</div>
                            </div>
                            <div class="box-tooltip">
                                <div class="tooltip-text" data-color="green-2">Mobile Report</div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="box-breadcrumb">
            <div class="box-left">
                <strong class="parent">
                    <a asp-page="/Product/Index">
                        Site of the
                        Day
                    </a>
                </strong>
                <span class="text-x-thin">September 18, 2019</span>
            </div>
            <div class="box-right">
                <div class="list-share-circles style2 light">
                    <ul>
                        <li>
                            <div class="bt-circle bt-facebook popup"
                                 data-link="https://www.facebook.com/sharer.php?u=intdex.html&amp;t=Harvard Film Archive - Awwwards Site Of The Day - Awwwards">
                                <svg class="ico-svg" viewBox="0 0 6.5 14">
                                    <use xlink:href=".//assets/images/sprite-icons.svg#facebook">
                                    </use>
                                </svg>

                            </div>
                        </li>
                        <li>
                            <div class="bt-circle bt-twitter popup"
                                 data-link="https://twitter.com/intent/tweet?text=Harvard Film Archive - Awwwards Site Of The Day - Awwwards&amp;url=intdex.html&amp;hashtags=">
                                <svg class="ico-svg" viewBox="0 0 17 14">
                                    <use xlink:href=".//assets/images/sprite-icons.svg#twitter">
                                    </use>
                                </svg>

                            </div>
                        </li>
                        <li>
                            <div class="bt-circle bt-pinterest popup"
                                 data-link="https://pinterest.com/pin/create/button/?url=intdex.html&amp;description=Harvard Film Archive - Awwwards Site Of The Day - Awwwards&amp;media=https://assets.awwwards.com/awards/submissions/2019/09/5d7775be8cb31794559963.jpg">
                                <svg class="ico-svg" viewBox="0 0 11 14">
                                    <use xlink:href=".//assets/images/sprite-icons.svg#pinterest">
                                    </use>
                                </svg>

                            </div>
                        </li>
                        <li>
                            <div class="bt-circle bt-linkedin popup"
                                 data-link="https://www.linkedin.com/shareArticle?mini=true&amp;url=intdex.html&amp;title=Harvard Film Archive - Awwwards Site Of The Day - Awwwards">
                                <svg class="ico-svg" viewBox="0 0 14 14">
                                    <use xlink:href=".//assets/images/sprite-icons.svg#linkedin">
                                    </use>
                                </svg>

                            </div>
                        </li>
                    </ul>
                    <div class="bt-circle bt-share js-social">
                        <svg class="ico-svg" viewBox="0 0 14 14">
                            <use xlink:href=".//assets/images/sprite-icons.svg#share">
                            </use>
                        </svg>

                    </div>
                </div>

            </div>
        </div>
        <div class="box-bl">
            <a href="@Url.Action("Index","Home")" data-identifier="harvard-film-archive"
               data-type="submission" class="js-visit-item bt-default green-fill" target="_blank"
               rel="noopener nofollow">Visit Site</a>
            <strong class="bt-item bt-default js-collect">Collect</strong>
        </div>
        <div class="box-br">
            @*<div class="bt-default bt-laurel white js-show-jury-votes" data-number-user-votes="53"
                     data-votes="[{&quot;average&quot;:7.6,&quot;deleted&quot;:false,&quot;usability&quot;:7,&quot;design&quot;:8,&quot;creativity&quot;:8,&quot;content&quot;:7,&quot;judgeId&quot;:227350,&quot;judge&quot;:{&quot;id&quot;:227350,&quot;images&quot;:{&quot;photo&quot;:&quot;avatar\/323238\/58a4474351c17.jpg&quot;},&quot;jobPosition&quot;:&quot;Product Designer at Canva&quot;,&quot;youtubeInterview&quot;:null,&quot;user&quot;:{&quot;username&quot;:&quot;marie-benoist&quot;,&quot;displayName&quot;:&quot;Marie Benoist&quot;},&quot;country&quot;:{&quot;name&quot;:&quot;Australia&quot;}}},{&quot;average&quot;:7.3,&quot;deleted&quot;:false,&quot;usability&quot;:8,&quot;design&quot;:7,&quot;creativity&quot;:7,&quot;content&quot;:7,&quot;judgeId&quot;:227429,&quot;judge&quot;:{&quot;id&quot;:227429,&quot;images&quot;:{&quot;photo&quot;:&quot;avatar\/428251\/5cd956e271b9f432681148.jpg&quot;},&quot;jobPosition&quot;:&quot;Y Media Labs - Senior Visual Designer&quot;,&quot;youtubeInterview&quot;:null,&quot;user&quot;:{&quot;username&quot;:&quot;kiranck&quot;,&quot;displayName&quot;:&quot;Kiran CK&quot;},&quot;country&quot;:{&quot;name&quot;:&quot;India&quot;}}},{&quot;average&quot;:7.1,&quot;deleted&quot;:false,&quot;usability&quot;:7,&quot;design&quot;:7,&quot;creativity&quot;:7,&quot;content&quot;:8,&quot;judgeId&quot;:227418,&quot;judge&quot;:{&quot;id&quot;:227418,&quot;images&quot;:{&quot;photo&quot;:&quot;avatar\/561531\/5a60d0e8cd226.jpg&quot;},&quot;jobPosition&quot;:&quot;Creative Director at Artistsweb.com&quot;,&quot;youtubeInterview&quot;:null,&quot;user&quot;:{&quot;username&quot;:&quot;saz&quot;,&quot;displayName&quot;:&quot;Saz Chaudhry&quot;},&quot;country&quot;:{&quot;name&quot;:&quot;United Kingdom&quot;}}},{&quot;average&quot;:7.4,&quot;deleted&quot;:false,&quot;usability&quot;:7,&quot;design&quot;:8,&quot;creativity&quot;:7,&quot;content&quot;:7,&quot;judgeId&quot;:227472,&quot;judge&quot;:{&quot;id&quot;:227472,&quot;images&quot;:{&quot;photo&quot;:&quot;avatar\/460409\/5c49d98fe0ac2.jpg&quot;},&quot;jobPosition&quot;:&quot;Creative Director &amp; CEO  @ Trionn Design&quot;,&quot;youtubeInterview&quot;:null,&quot;user&quot;:{&quot;username&quot;:&quot;sunnyrathod&quot;,&quot;displayName&quot;:&quot;Sunny Rathod&quot;},&quot;country&quot;:{&quot;name&quot;:&quot;India&quot;}}},{&quot;average&quot;:7.1,&quot;deleted&quot;:false,&quot;usability&quot;:7,&quot;design&quot;:7,&quot;creativity&quot;:7,&quot;content&quot;:8,&quot;judgeId&quot;:227155,&quot;judge&quot;:{&quot;id&quot;:227155,&quot;images&quot;:{&quot;photo&quot;:&quot;avatar\/5423\/54c7a0e04eb54.jpg&quot;},&quot;jobPosition&quot;:&quot;Interactive art director\/developer at Watson\/DG&quot;,&quot;youtubeInterview&quot;:null,&quot;user&quot;:{&quot;username&quot;:&quot;du-haihang&quot;,&quot;displayName&quot;:&quot;Du Haihang&quot;},&quot;country&quot;:{&quot;name&quot;:&quot;United States&quot;}}},{&quot;average&quot;:7.1,&quot;deleted&quot;:false,&quot;usability&quot;:7,&quot;design&quot;:7,&quot;creativity&quot;:7,&quot;content&quot;:8,&quot;judgeId&quot;:227504,&quot;judge&quot;:{&quot;id&quot;:227504,&quot;images&quot;:{&quot;photo&quot;:&quot;avatar\/705669\/5c4adc3b0158a.jpg&quot;},&quot;jobPosition&quot;:&quot;Yoyo - Lead Creative&quot;,&quot;youtubeInterview&quot;:null,&quot;user&quot;:{&quot;username&quot;:&quot;matt-sage&quot;,&quot;displayName&quot;:&quot;Matt Sage&quot;},&quot;country&quot;:{&quot;name&quot;:&quot;United Kingdom&quot;}}},{&quot;average&quot;:8,&quot;deleted&quot;:false,&quot;usability&quot;:8,&quot;design&quot;:8,&quot;creativity&quot;:8,&quot;content&quot;:8,&quot;judgeId&quot;:227251,&quot;judge&quot;:{&quot;id&quot;:227251,&quot;images&quot;:{&quot;photo&quot;:&quot;avatar\/137337\/56b9aa7264a6c.png&quot;},&quot;jobPosition&quot;:&quot;CEO and Creative Director at LOOP&quot;,&quot;youtubeInterview&quot;:null,&quot;user&quot;:{&quot;username&quot;:&quot;mj_loop&quot;,&quot;displayName&quot;:&quot;Michael John&quot;},&quot;country&quot;:{&quot;name&quot;:&quot;Austria&quot;}}},{&quot;average&quot;:6.4,&quot;deleted&quot;:true,&quot;usability&quot;:7,&quot;design&quot;:6,&quot;creativity&quot;:6,&quot;content&quot;:7,&quot;judgeId&quot;:227245,&quot;judge&quot;:{&quot;id&quot;:227245,&quot;images&quot;:{&quot;photo&quot;:&quot;avatar\/390121\/5c754c7906a00591247090.jpg&quot;},&quot;jobPosition&quot;:&quot;Yoyo - Creative Director&quot;,&quot;youtubeInterview&quot;:null,&quot;user&quot;:{&quot;username&quot;:&quot;gregg-lawrence&quot;,&quot;displayName&quot;:&quot;Gregg Lawrence&quot;},&quot;country&quot;:{&quot;name&quot;:&quot;United Kingdom&quot;}}},{&quot;average&quot;:7.3,&quot;deleted&quot;:false,&quot;usability&quot;:8,&quot;design&quot;:7,&quot;creativity&quot;:7,&quot;content&quot;:7,&quot;judgeId&quot;:227361,&quot;judge&quot;:{&quot;id&quot;:227361,&quot;images&quot;:{&quot;photo&quot;:&quot;avatar\/245774\/58a59ca83cffe.jpg&quot;},&quot;jobPosition&quot;:&quot;Head of Design at Domani&quot;,&quot;youtubeInterview&quot;:null,&quot;user&quot;:{&quot;username&quot;:&quot;LouisMoncouyoux&quot;,&quot;displayName&quot;:&quot;Louis Moncouyoux&quot;},&quot;country&quot;:{&quot;name&quot;:&quot;United States&quot;}}},{&quot;average&quot;:8,&quot;deleted&quot;:false,&quot;usability&quot;:8,&quot;design&quot;:8,&quot;creativity&quot;:8,&quot;content&quot;:8,&quot;judgeId&quot;:227516,&quot;judge&quot;:{&quot;id&quot;:227516,&quot;images&quot;:{&quot;photo&quot;:&quot;avatar\/356310\/5c5084ed4b6bd.jpg&quot;},&quot;jobPosition&quot;:&quot;Hibo - Digital Art Director&quot;,&quot;youtubeInterview&quot;:null,&quot;user&quot;:{&quot;username&quot;:&quot;epoch476&quot;,&quot;displayName&quot;:&quot;Andrea Puccini&quot;},&quot;country&quot;:{&quot;name&quot;:&quot;Italy&quot;}}},{&quot;average&quot;:7,&quot;deleted&quot;:false,&quot;usability&quot;:7,&quot;design&quot;:7,&quot;creativity&quot;:7,&quot;content&quot;:7,&quot;judgeId&quot;:227480,&quot;judge&quot;:{&quot;id&quot;:227480,&quot;images&quot;:{&quot;photo&quot;:&quot;avatar\/414284\/5c49dace46858.jpg&quot;},&quot;jobPosition&quot;:&quot;Creative director in Geex Arts&quot;,&quot;youtubeInterview&quot;:null,&quot;user&quot;:{&quot;username&quot;:&quot;kornilov-slava&quot;,&quot;displayName&quot;:&quot;Kornilov Slava&quot;},&quot;country&quot;:{&quot;name&quot;:&quot;Russia&quot;}}},{&quot;average&quot;:7,&quot;deleted&quot;:false,&quot;usability&quot;:7,&quot;design&quot;:7,&quot;creativity&quot;:7,&quot;content&quot;:7,&quot;judgeId&quot;:227200,&quot;judge&quot;:{&quot;id&quot;:227200,&quot;images&quot;:{&quot;photo&quot;:&quot;avatar\/25821\/56b4737ada7e3.jpg&quot;},&quot;jobPosition&quot;:&quot;Senior Designer at Mediamonks&quot;,&quot;youtubeInterview&quot;:null,&quot;user&quot;:{&quot;username&quot;:&quot;teoross&quot;,&quot;displayName&quot;:&quot;Matteo Rostagno&quot;},&quot;country&quot;:{&quot;name&quot;:&quot;United Kingdom&quot;}}},{&quot;average&quot;:7.7,&quot;deleted&quot;:false,&quot;usability&quot;:7,&quot;design&quot;:8,&quot;creativity&quot;:8,&quot;content&quot;:8,&quot;judgeId&quot;:227435,&quot;judge&quot;:{&quot;id&quot;:227435,&quot;images&quot;:{&quot;photo&quot;:&quot;avatar\/561474\/5a60db59ae09d.jpg&quot;},&quot;jobPosition&quot;:&quot;STUDIO DETAILS Inc.&quot;,&quot;youtubeInterview&quot;:null,&quot;user&quot;:{&quot;username&quot;:&quot;tomoatsuhattori&quot;,&quot;displayName&quot;:&quot;Tomoatsu Hattori&quot;},&quot;country&quot;:{&quot;name&quot;:&quot;Japan&quot;}}},{&quot;average&quot;:6.6,&quot;deleted&quot;:false,&quot;usability&quot;:6,&quot;design&quot;:7,&quot;creativity&quot;:7,&quot;content&quot;:6,&quot;judgeId&quot;:227438,&quot;judge&quot;:{&quot;id&quot;:227438,&quot;images&quot;:{&quot;photo&quot;:&quot;avatar\/460611\/5a672e9faa7ec.jpg&quot;},&quot;jobPosition&quot;:&quot;Design Director \/ Partner at&quot;,&quot;youtubeInterview&quot;:null,&quot;user&quot;:{&quot;username&quot;:&quot;jaap-kraan&quot;,&quot;displayName&quot;:&quot;Jaap Kraan&quot;},&quot;country&quot;:{&quot;name&quot;:&quot;Netherlands&quot;}}},{&quot;average&quot;:8.9,&quot;deleted&quot;:true,&quot;usability&quot;:9,&quot;design&quot;:9,&quot;creativity&quot;:9,&quot;content&quot;:8,&quot;judgeId&quot;:227397,&quot;judge&quot;:{&quot;id&quot;:227397,&quot;images&quot;:{&quot;photo&quot;:&quot;avatar\/498186\/59196e394e93d.jpg&quot;},&quot;jobPosition&quot;:&quot;Creative Director, UX at R\/GA&quot;,&quot;youtubeInterview&quot;:null,&quot;user&quot;:{&quot;username&quot;:&quot;fabricio-teixeira&quot;,&quot;displayName&quot;:&quot;Fabricio Teixeira&quot;},&quot;country&quot;:{&quot;name&quot;:&quot;United States&quot;}}},{&quot;average&quot;:8,&quot;deleted&quot;:false,&quot;usability&quot;:8,&quot;design&quot;:8,&quot;creativity&quot;:8,&quot;content&quot;:8,&quot;judgeId&quot;:227520,&quot;judge&quot;:{&quot;id&quot;:227520,&quot;images&quot;:{&quot;photo&quot;:&quot;avatar\/383408\/5c50858f611c7.jpg&quot;},&quot;jobPosition&quot;:&quot;Digital Art Director at LOW&quot;,&quot;youtubeInterview&quot;:null,&quot;user&quot;:{&quot;username&quot;:&quot;margherita-fortuna&quot;,&quot;displayName&quot;:&quot;Margherita Fortuna&quot;},&quot;country&quot;:{&quot;name&quot;:&quot;Italy&quot;}}},{&quot;average&quot;:8.2,&quot;deleted&quot;:false,&quot;usability&quot;:8.09,&quot;design&quot;:8.27,&quot;creativity&quot;:8.18,&quot;content&quot;:8.27,&quot;judgeId&quot;:304,&quot;judge&quot;:{&quot;id&quot;:304,&quot;images&quot;:{&quot;photo&quot;:&quot;avatar\/67656\/59afd7ecc9b9c.jpg&quot;},&quot;jobPosition&quot;:null,&quot;youtubeInterview&quot;:null,&quot;user&quot;:{&quot;username&quot;:&quot;awwwards_users&quot;,&quot;displayName&quot;:&quot;Awwwards Users&quot;},&quot;country&quot;:[]}}]">
                    <svg width="19.7" height="37" viewBox="0 0 21.335 40">
                        <path d="M16.185,0.502c-0.243-0.061-0.573-0.062-0.947-0.011c-1.252,0.173-2.504,1.055-2.847,2.002 c0.285,0.007,0.572,0.016,0.898-0.029C14.354,2.317,15.645,1.713,16.185,0.502z M10.769,6.173c-1.296,0.179-2.448,0.763-3.108,1.47 C8.104,7.772,8.674,7.787,9.373,7.69c1.297-0.179,2.64-0.744,3.346-1.456C12.186,6.119,11.513,6.07,10.769,6.173z M9.239,9.129 c-1.626,0.224-3.204,1.483-3.806,2.608c0.24,0.015,0.478,0.027,0.756-0.011c1.534-0.211,3.169-1.383,3.751-2.647 C9.708,9.111,9.469,9.098,9.239,9.129z M4.612,6.124c-0.941,1.408-0.874,3.955,0.108,5.238C5.515,9.927,5.428,7.242,4.612,6.124z  M7.387,2.238C6.426,3.506,6.296,5.985,7.133,7.243C7.954,5.993,8.071,3.421,7.387,2.238z M13.233,3.466 c-1.206,0.167-2.357,0.751-2.969,1.451c0.344,0.094,0.82,0.125,1.381,0.047c1.254-0.174,2.541-0.777,3.214-1.392 C14.41,3.397,13.837,3.383,13.233,3.466z M10.909,0C9.811,0.958,9.212,3.122,9.725,4.424C10.676,3.441,11.311,1.176,10.909,0z  M8.197,12.208L8.197,12.208c-1.811,0.25-3.605,2.343-4.036,4.012l0,0C5.918,15.93,7.876,14.002,8.197,12.208z M1.659,10.791 c-0.512,1.774,0.358,4.305,1.759,5.199C3.765,14.382,2.868,11.666,1.659,10.791z M4.181,21.848c1.691-0.756,3.131-3.366,2.954-5.329 C5.202,17.59,4.121,20.058,4.181,21.848z M7.42,20.645c-1.483,1.246-2.148,4.318-1.665,6.096C7.293,25.535,8.109,22.537,7.42,20.645 z M8.696,24.729c-1.277,2.068-1.01,4.684-0.129,6.262C9.727,29.461,9.828,26.416,8.696,24.729z M12.489,34.377 c0.671-1.652-0.051-4.488-1.505-5.752C10.442,30.877,11.335,33.213,12.489,34.377z M17.292,33.193 c0.347,1.801,2.214,3.67,4.016,4.037C20.903,35.346,19.09,33.512,17.292,33.193z M16.59,36.32c0.19-1.729-1.026-4.021-2.56-4.805 C13.943,33.607,15.247,35.512,16.59,36.32z M0.418,16.878c-0.123,1.861,1.356,4.356,3.05,4.974 C3.425,20.154,1.834,17.534,0.418,16.878z M5.025,26.936C4.423,24.986,1.83,22.645,0,22.426C0.482,24.535,2.97,26.797,5.025,26.936z  M11.902,34.936c-1.13-0.982-3.5-1.697-5.217-1.461c-0.325,0.045-0.597,0.133-0.824,0.211c1.056,1.131,3.182,1.783,4.945,1.541 C11.224,35.166,11.59,35.07,11.902,34.936z M15.652,39.813c0.598,0.197,1.356,0.238,2.148,0.129 c1.487-0.205,2.901-0.924,3.534-1.814c-0.542-0.162-1.209-0.168-1.948-0.066C17.814,38.328,16.297,39.012,15.652,39.813z  M7.861,31.371c-1.034-1.654-3.985-3.141-5.748-2.896c0,0,0,0-0.047,0.006c0.953,1.764,3.657,3.188,5.608,2.918 C7.769,31.383,7.815,31.377,7.861,31.371z M12.769,36.752c-1.161,0.16-2.103,0.527-2.648,1.029c0.872,0.494,2.124,0.65,3.378,0.479 c1.157-0.16,2.146-0.578,2.771-1.184C15.361,36.68,14.068,36.574,12.769,36.752z">
                        </path>
                    </svg>
                    <div class="borders">
                        Jury votes
                    </div>
                    <div class="corner"></div>
                </div>*@
            <div class="box-users-likes">
                <ul class="list-users">
                    <li>
                        <div class="item js-judge-note" data-username="marie-benoist"
                             data-info="{&quot;country&quot;:{&quot;name&quot;:&quot;Australia&quot;},&quot;displayName&quot;:&quot;Marie Benoist&quot;,&quot;score&quot;:&quot;7.60&quot;}">
                            <a href="@Url.Action("Index","Product")">
                                <img src="~/Contact/intdex-files/58a4474351c17.jpg"
                                     data-src="https://assets.awwwards.com/awards/media/cache/thumb_user_70/avatar/323238/58a4474351c17.jpg"
                                     width="34" height="34" alt="Marie Benoist"
                                     class="grayscale lazy lazy-loaded">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="item js-judge-note" data-username="kiranck"
                             data-info="{&quot;country&quot;:{&quot;name&quot;:&quot;India&quot;},&quot;displayName&quot;:&quot;Kiran CK&quot;,&quot;score&quot;:&quot;7.30&quot;}">
                            <a href="@Url.Action("Index","Product")">
                                <img src="~/Contact/intdex-files/5cd956e271b9f432681148.jpg"
                                     data-src="https://assets.awwwards.com/awards/media/cache/thumb_user_70/avatar/428251/5cd956e271b9f432681148.jpg"
                                     width="34" height="34" alt="Kiran CK"
                                     class="grayscale lazy lazy-loaded">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="item js-judge-note" data-username="saz"
                             data-info="{&quot;country&quot;:{&quot;name&quot;:&quot;United Kingdom&quot;},&quot;displayName&quot;:&quot;Saz Chaudhry&quot;,&quot;score&quot;:&quot;7.10&quot;}">
                            <a href="@Url.Action("Index","Product")">
                                <img src="~/Contact/intdex-files/5a60d0e8cd226.jpg"
                                     data-src="https://assets.awwwards.com/awards/media/cache/thumb_user_70/avatar/561531/5a60d0e8cd226.jpg"
                                     width="34" height="34" alt="Saz Chaudhry"
                                     class="grayscale lazy lazy-loaded">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="item js-judge-note" data-username="sunnyrathod"
                             data-info="{&quot;country&quot;:{&quot;name&quot;:&quot;India&quot;},&quot;displayName&quot;:&quot;Sunny Rathod&quot;,&quot;score&quot;:&quot;7.40&quot;}">
                            <a href="@Url.Action("Index","Product")">
                                <img src="~/Contact/intdex-files/5c49d98fe0ac2.jpg"
                                     data-src="https://assets.awwwards.com/awards/media/cache/thumb_user_70/avatar/460409/5c49d98fe0ac2.jpg"
                                     width="34" height="34" alt="Sunny Rathod"
                                     class="grayscale lazy lazy-loaded">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="item js-judge-note" data-username="du-haihang"
                             data-info="{&quot;country&quot;:{&quot;name&quot;:&quot;United States&quot;},&quot;displayName&quot;:&quot;Du Haihang&quot;,&quot;score&quot;:&quot;7.10&quot;}">
                            <a href="@Url.Action("Index","Product")">
                                <img src="~/Contact/intdex-files/54c7a0e04eb54.jpg"
                                     data-src="https://assets.awwwards.com/awards/media/cache/thumb_user_70/avatar/5423/54c7a0e04eb54.jpg"
                                     width="34" height="34" alt="Du Haihang"
                                     class="grayscale lazy lazy-loaded">
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
